In [3]:
# ----------------------------------------------------------------------
# Clean CSV for pollution data
# ----------------------------------------------------------------------

import pandas as pd
import datetime as dt
import numpy as np

In [2]:
# read in CSV
data = pd.read_csv("../data/pollution_original.csv")

# reduce to columns I care about, reset index, and delete old index
data = data[['Date Local', 'State', 'City', 
             'NO2 Mean', 'NO2 Units', 
             'SO2 Mean', 'SO2 Units', 
             'CO Mean', 'CO Units']]

data.rename(columns={'Date Local':'Date'}, inplace=True)

# drop any empty values
data = data.dropna(axis=0,how='any')
print('Done')

Done

In [3]:
data['Date'] = pd.to_datetime(data['Date'], format="%Y/%m/%d")
data_new = data.groupby([data.State, data.Date.dt.year]).mean().reset_index()
data_new.head()

     State  Date   NO2 Mean  SO2 Mean   CO Mean
0  Alabama  2013  12.065635  0.750311  0.211007
1  Alabama  2014   9.411746  1.186517  0.205921
2  Alabama  2015   9.078580  1.009429  0.221027
3  Alabama  2016   9.524873  0.835118  0.209514
4   Alaska  2014  11.658510  5.951531  0.455444

In [4]:
data_new.to_csv(path_or_buf="../data/pollution_cleaned.csv")
data_new.to_json(path_or_buf="../data/pollution_cleaned.json", orient='records')

In [5]:
units = {'NO2':data['NO2 Units'][0],
         'SO2':data['SO2 Units'][0],
         'CO':data['CO Units'][0]}
units

{'CO': 'Parts per million',
 'NO2': 'Parts per billion',
 'SO2': 'Parts per billion'}

In [6]:
cities_set = set(data_new['State'].values.flatten()) 
cities_set

{'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Country Of Mexico',
 'Delaware',
 'District Of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Washington',
 'Wisconsin',
 'Wyoming'}

In [7]:
# read in CSV
data = pd.read_csv("../data/cdi_original.csv", low_memory=False)
data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,1,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,2,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,4,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,5,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [8]:
# view all questions
questions = set(data['Question'].values.flatten()) 
questions

{'Activity limitation due to arthritis among adults aged >= 18 years who have doctor-diagnosed arthritis',
 'Adults aged >= 18 years with arthritis who have taken a class to learn how to manage arthritis symptoms',
 'Adults with diagnosed diabetes aged >= 18 years who have taken a diabetes self-management course',
 'Alcohol use among youth',
 'Alcohol use before pregnancy',
 'All teeth lost among adults aged >= 65 years',
 'Amount of alcohol excise tax by beverage type (beer)',
 'Amount of alcohol excise tax by beverage type (distilled spirits)',
 'Amount of alcohol excise tax by beverage type (wine)',
 'Amount of tobacco product excise tax',
 'Amputation of a lower extremity attributable to diabetes',
 'Arthritis among adults aged >= 18 years',
 'Arthritis among adults aged >= 18 years who are obese',
 'Arthritis among adults aged >= 18 years who have diabetes',
 'Arthritis among adults aged >= 18 years who have heart disease',
 'Asthma mortality rate',
 'Asthma prevalence among women aged 18-44 years',
 'At least 14 recent mentally unhealthy days among women aged 18-44 years',
 'Awareness of high blood pressure among adults aged >= 18 years',
 'Awareness of high blood pressure among women aged 18-44 years',
 'Binge drinking frequency among adults aged >= 18 years who binge drink',
 'Binge drinking intensity among adults aged >= 18 years who binge drink',
 'Binge drinking prevalence among adults aged >= 18 years',
 'Binge drinking prevalence among women aged 18-44 years',
 'Binge drinking prevalence among youth',
 'Cancer of the colon and rectum (colorectal), incidence',
 'Cancer of the colon and rectum (colorectal), mortality',
 'Cancer of the female breast, mortality',
 'Cancer of the female cervix, mortality',
 'Cancer of the lung and bronchus, incidence',
 'Cancer of the lung and bronchus, mortality',
 'Cancer of the oral cavity and pharynx, mortality',
 'Cancer of the prostate, mortality',
 'Census tracts with healthier food retailers within ½ mile of boundary',
 'Cholesterol screening among adults aged >= 18 years',
 'Chronic liver disease mortality',
 'Cigarette smoking before pregnancy',
 'Commercial host (dram shop) liability laws',
 'Computer use among high school students',
 'Current asthma prevalence among adults aged >= 18 years',
 'Current cigarette smoking among women aged 18-44 years',
 'Current cigarette smoking among youth',
 'Current health care coverage among women aged 18-44 years',
 'Current lack of health insurance among adults aged 18-64 years',
 'Current smokeless tobacco use among adults aged >= 18 years',
 'Current smokeless tobacco use among youth',
 'Current smoking among adults aged >= 18 years',
 'Dental visits among children and adolescents aged 1-17 years',
 'Diabetes prevalence among women aged 18-44 years',
 'Dilated eye examination among adults aged >= 18 years with diagnosed diabetes',
 'Disability among adults aged >= 65 years',
 'Emergency department visit rate for asthma',
 'Emergency department visit rate for chronic obstructive pulmonary disease as any diagnosis',
 'Emergency department visit rate for chronic obstructive pulmonary disease as first-listed diagnosis',
 'Fair or poor health among adults aged >= 18 years with arthritis',
 'Fair or poor self-rated health status among adults aged >= 18 years',
 'Farmers markets that accept Supplemental Nutrition Assistance Program (SNAP) benefits',
 'Farmers markets that accept Women and Infant Children (WIC) farmers market nutrition program coupons',
 'Fecal occult blood test, sigmoidoscopy, or colonoscopy among adults aged 50-75 years',
 'Folic acid supplementation',
 'Foot examination among adults aged >= 18 years with diagnosed diabetes',
 'Gini Index of income inequality',
 'Glycosylated hemoglobin measurement among adults aged >= 18 years with diagnosed diabetes',
 'Health insurance coverage before pregnancy',
 'Healthy weight among adults aged >= 18 years',
 'Healthy weight among high school students',
 'Heavy drinking among adults aged >= 18 years',
 'Heavy drinking among women aged 18-44 years',
 'High cholesterol prevalence among adults aged >= 18 years',
 'High school completion among adults aged 18-24 years',
 'High school completion among women aged 18-44 years',
 'Hospitalization for acute myocardial infarction',
 'Hospitalization for chronic obstructive pulmonary disease as any diagnosis',
 'Hospitalization for chronic obstructive pulmonary disease as any diagnosis among Medicare-eligible persons aged >= 65 years',
 'Hospitalization for chronic obstructive pulmonary disease as first-listed diagnosis',
 'Hospitalization for chronic obstructive pulmonary disease as first-listed diagnosis among Medicare-eligible persons aged >= 65 years',
 'Hospitalization for heart failure among Medicare-eligible persons aged >= 65 years',
 'Hospitalization for hip fracture among Medicare-eligible persons aged >= 65 years',
 'Hospitalization for stroke',
 'Hospitalization with diabetes as a listed diagnosis',
 'Hospitalizations for asthma',
 'Incidence of treated end-stage renal disease',
 'Incidence of treated end-stage renal disease attributed to diabetes',
 'Infants breastfed at 6 months',
 'Influenza vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease or stroke',
 'Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma',
 'Influenza vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes',
 'Influenza vaccination among noninstitutionalized adults aged >= 18 years',
 'Influenza vaccination among noninstitutionalized adults aged >= 45 years with chronic obstructive pulmonary disease',
 'Influenza vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease or stroke',
 'Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma',
 'Influenza vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes',
 'Invasive cancer (all sites combined), incidence',
 'Invasive cancer (all sites combined), mortality',
 'Invasive cancer of the cervix, incidence',
 'Invasive cancer of the female breast, incidence',
 'Invasive cancer of the oral cavity or pharynx, incidence',
 'Invasive cancer of the prostate, incidence',
 'Invasive melanoma, incidence',
 'Life expectancy at age 65 years',
 'Life expectancy at birth',
 'Live births occurring at Baby Friendly Facilities',
 'Local authority to regulate alcohol outlet density',
 'Mammography use among women aged 50-74 years',
 'Mean maternity practices in infant nutrition care (mPINC) score',
 'Median daily frequency of fruit consumption among adults aged >= 18 years',
 'Median daily frequency of fruit consumption among high school students',
 'Median daily frequency of vegetable consumption among adults aged >= 18 years',
 'Median daily frequency of vegetable consumption among high school students',
 'Meeting aerobic physical activity guidelines among high school students',
 'Meeting aerobic physical activity guidelines for additional and more extensive health benefits among adults aged >= 18 years',
 'Meeting aerobic physical activity guidelines for substantial health benefits among adults aged >= 18 years',
 'Meeting aerobic physical activity guidelines for substantial health benefits and for muscle-strengthening activity among adults aged >= 18 years',
 'Melanoma, mortality',
 'Mortality due to diabetes reported as any listed cause of death',
 'Mortality from cerebrovascular disease (stroke)',
 'Mortality from coronary heart disease',
 'Mortality from diseases of the heart',
 'Mortality from heart failure',
 'Mortality from total cardiovascular diseases',
 'Mortality with chronic obstructive pulmonary disease as underlying cause among adults aged >= 45 years',
 'Mortality with chronic obstructive pulmonary disease as underlying or contributing cause among adults aged >= 45 years',
 'Mortality with diabetic ketoacidosis reported as any listed cause of death',
 'Mortality with end-stage renal disease',
 'No leisure-time physical activity among adults aged >= 18 years',
 'No tooth loss among adults aged 18-64 years',
 'Number of farmers markets per 100,000 residents',
 'Obesity among adults aged >= 18 years',
 'Obesity among high school students',
 'Oral health services at Federally Qualified Health Centers',
 'Overweight or obesity among adults aged >= 18 years',
 'Overweight or obesity among high school students',
 'Overweight or obesity among women aged 18-44 years',
 'Papanicolaou smear use among adult women aged 21-65 years',
 'Participation in daily school physical education classes among high school students',
 'Per capita alcohol consumption among persons aged >= 14 years',
 'Percent tobacco revenue to fund at CDC recommended level',
 'Physical inactivity among adults aged >= 18 years with arthritis',
 'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years who smoke',
 'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease',
 'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma',
 'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes',
 'Pneumococcal vaccination among noninstitutionalized adults aged >= 45 years with chronic obstructive pulmonary disease',
 'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years who smoke',
 'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease',
 'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma',
 'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes',
 'Population served by community water systems that receive optimally fluoridated drinking water',
 'Postpartum checkup',
 'Postpartum depressive symptoms',
 'Poverty',
 'Poverty among women aged 18-44 years',
 'Pre-pregnancy hypertension',
 'Premature mortality among adults aged 45-64 years',
 'Presence of regulations pertaining to avoiding sugar in early care and education settings',
 'Presence of regulations pertaining to screen time in early care and education settings',
 'Presence of regulations pertaining to serving fruit in early care and education settings',
 'Presence of regulations pertaining to serving vegetables in early care and education settings',
 'Prevalence of 2 or more chronic conditions among Medicare-enrolled persons aged >= 65 years',
 'Prevalence of activity limitation among adults >= 18 with diagnosed chronic obstructive pulmonary disease',
 'Prevalence of activity limitation among adults >= 45 years with diagnosed chronic obstructive pulmonary disease',
 'Prevalence of chronic kidney disease among adults aged >= 18 years',
 'Prevalence of chronic obstructive pulmonary disease among adults >= 18',
 'Prevalence of chronic obstructive pulmonary disease among adults >= 45 years',
 'Prevalence of current smoking among adults >= 18 with diagnosed chronic obstructive pulmonary disease',
 'Prevalence of current smoking among adults >= 45 years with diagnosed chronic obstructive pulmonary disease',
 'Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes',
 'Prevalence of diagnosed diabetes among adults aged >= 18 years',
 'Prevalence of gestational diabetes',
 'Prevalence of high blood pressure among adults aged >= 18 years with diagnosed diabetes',
 'Prevalence of high cholesterol among adults aged >= 18 years with diagnosed diabetes',
 'Prevalence of pre-pregnancy diabetes',
 'Prevalence of sufficient sleep among adults aged >= 18 years',
 'Preventive dental care before pregnancy',
 'Preventive dental visits among children and adolescents aged 1-17 years',
 'Proportion of older adults aged 50-64 years who are up to date on a core set of clinical preventive services',
 'Proportion of older adults aged >= 65 years who are up to date on a core set of clinical preventive services',
 'Proportion of the population protected by a comprehensive smoke-free policy prohibiting smoking in all indoor areas of workplaces and public places, including restaurants and bars',
 'Quit attempts in the past year among current smokers',
 'Receiving formula supplementation within the first 2 days of life among breastfed infants',
 'Recent Papanicolaou smear use among women aged 21-44 years',
 'Recent activity limitation among adults aged >= 18 years',
 'Recent mentally unhealthy days among adults aged >= 18 years',
 'Recent physically unhealthy days among adults aged >= 18 years',
 'Sale of cigarette packs',
 'Secondary schools that allow community-sponsored use of physical activity facilities by youth outside of normal school hours',
 'Secondary schools that allow students to purchase soda or fruit drinks',
 'Secondary schools that allow students to purchase sports drinks',
 'Secondary schools that have a comprehensive tobacco-free school policy in place',
 'Secondary schools that offer less healthy foods as competitive foods',
 'Self-rated health status among women aged 18-44 years',
 'Severe joint pain due to arthritis among adults aged >= 18 years who have doctor-diagnosed arthritis',
 'Six or more teeth lost among adults aged >= 65 years',
 'Soda consumption among high school students',
 'State child care regulation supports onsite breastfeeding',
 'States that allow stronger local tobacco control and prevention laws',
 'States with strong polices that require retail licenses to sell tobacco products',
 'Taking medicine for high blood pressure control among adults aged >= 18 years with high blood pressure',
 'Television viewing among high school students',
 'Timeliness of routine health care checkup among women aged 18-44 years',
 'Visits to dentist or dental clinic among adults aged >= 18 years',
 'Visits to dentist or dental clinic among adults aged >= 18 years with diagnosed diabetes',
 'Work limitation due to arthritis among adults aged 18-64 years who have doctor-diagnosed arthritis'}

In [9]:
# filter dataframe to just overall asthma prevalance
asthma_df = data[data['Question'] ==  'Current asthma prevalence among adults aged >= 18 years']
asthma_df = asthma_df[asthma_df['StratificationCategory1'] == 'Overall']

# remove data points for US as a whole and reset index
asthma_df = asthma_df[asthma_df['LocationDesc'] != 'United States'].reset_index()

# reduce to necessary columns and drop null values
asthma_df = asthma_df[['YearStart', 'LocationDesc', 
                       'DataValue']].dropna(how='any')

#rename columns in place
asthma_df.rename(columns={'YearStart':'Year', 
                          'LocationDesc':'State', 
                          'DataValue':'Percent Asthma'}, 
                 inplace=True)

# export to CSV
asthma_df.to_csv(path_or_buf="../data/asthma_byState.csv")
asthma_df.to_json(path_or_buf="../data/asthma_byState.json", orient='records')

In [10]:
# create column to join on
asthma_df['Year2'] = asthma_df['Year'].apply(str)
asthma_df['key'] = asthma_df['Year2'] + asthma_df['State']
asthma_df.head()

   Year       State Percent Asthma Year2             key
0  2016     Alabama            9.7  2016     2016Alabama
1  2016      Alaska            8.8  2016      2016Alaska
2  2016     Arizona            9.4  2016     2016Arizona
3  2016    Arkansas            8.5  2016    2016Arkansas
4  2016  California            7.8  2016  2016California

In [11]:
data_new['Date2'] = data_new['Date'].apply(str)
data_new['key'] = data_new['Date2'] + data_new['State']
data_new.head()

     State  Date   NO2 Mean  SO2 Mean   CO Mean Date2          key
0  Alabama  2013  12.065635  0.750311  0.211007  2013  2013Alabama
1  Alabama  2014   9.411746  1.186517  0.205921  2014  2014Alabama
2  Alabama  2015   9.078580  1.009429  0.221027  2015  2015Alabama
3  Alabama  2016   9.524873  0.835118  0.209514  2016  2016Alabama
4   Alaska  2014  11.658510  5.951531  0.455444  2014   2014Alaska

In [12]:
# create single dataframe
final_data = pd.merge(data_new, asthma_df, how='inner', on='key')

In [13]:
# remove unnecessary columns
final_data = final_data[['State_x', 'Year', 'Percent Asthma', 'NO2 Mean', 'SO2 Mean', 'CO Mean']]
final_data.rename(columns={'State_x':'State'}, inplace=True)
final_data.head()

     State  Year Percent Asthma   NO2 Mean  SO2 Mean   CO Mean
0  Alabama  2013            8.5  12.065635  0.750311  0.211007
1  Alabama  2013            8.5  12.065635  0.750311  0.211007
2  Alabama  2014            9.5   9.411746  1.186517  0.205921
3  Alabama  2014            9.5   9.411746  1.186517  0.205921
4  Alabama  2015            9.9   9.078580  1.009429  0.221027

In [14]:
#export to json
final_data.to_csv(path_or_buf="../data/asthmaPollution_byState.csv")
final_data.to_json(path_or_buf="../data/asthmaPollution_byState.json", orient='records')

In [2]:
# ----------------------------------------------------------------------
# Clean CSV for different health data
# ----------------------------------------------------------------------
complete_data = pd.DataFrame()

for i in np.arange(39):
    new_data = pd.read_csv(f"../data/annual_aqi_by_county_{1980 + i}.csv").dropna()
    complete_data = pd.concat([complete_data, new_data], ignore_index=True)

In [3]:
complete_data.to_json(path_or_buf="../data/asthmaPollution_byState.json", orient='records')
complete_data.to_csv(path_or_buf="../data/asthmaPollution_byState.csv")

In [51]:
# ----------------------------------------------------------------------
# Clean CSV for hurricane/typhoon data
# ----------------------------------------------------------------------
data = pd.read_csv("../data/atlantic_original.csv")
data.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,06/25/1851,0,,HU,28.0N,94.8W,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL011851,UNNAMED,06/25/1851,600,,HU,28.0N,95.4W,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL011851,UNNAMED,06/25/1851,1200,,HU,28.0N,96.0W,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL011851,UNNAMED,06/25/1851,1800,,HU,28.1N,96.5W,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL011851,UNNAMED,06/25/1851,2100,L,HU,28.2N,96.8W,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# reduce to wanted columns
data = data[['ID', 'Name', 'Date','Time',
             'Status','Latitude','Longitude','Maximum Wind']]
data.dropna(inplace=True)
data.head()

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind
0,AL011851,UNNAMED,06/25/1851,0,HU,28.0N,94.8W,80.0
1,AL011851,UNNAMED,06/25/1851,600,HU,28.0N,95.4W,80.0
2,AL011851,UNNAMED,06/25/1851,1200,HU,28.0N,96.0W,80.0
3,AL011851,UNNAMED,06/25/1851,1800,HU,28.1N,96.5W,80.0
4,AL011851,UNNAMED,06/25/1851,2100,HU,28.2N,96.8W,80.0

In [58]:
data.to_csv(path_or_buf="../data/atlantic_cleaned.csv")

In [59]:
data = pd.read_csv("../data/pacific_original.csv")
data.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,6/11/1949,0,,TS,20.2,106.3,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EP011949,UNNAMED,6/11/1949,600,,TS,20.2,106.4,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EP011949,UNNAMED,6/11/1949,1200,,TS,20.2,106.7,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EP011949,UNNAMED,6/11/1949,1800,,TS,20.3,107.7,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EP011949,UNNAMED,6/12/1949,0,,TS,20.4,108.6,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# reduce to wanted columns
data = data[['ID', 'Name', 'Date','Time',
             'Status','Latitude','Longitude','Maximum Wind']]
data.dropna(inplace=True)
data.head()

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind
0,EP011949,UNNAMED,6/11/1949,0,TS,20.2,106.3,45
1,EP011949,UNNAMED,6/11/1949,600,TS,20.2,106.4,45
2,EP011949,UNNAMED,6/11/1949,1200,TS,20.2,106.7,45
3,EP011949,UNNAMED,6/11/1949,1800,TS,20.3,107.7,45
4,EP011949,UNNAMED,6/12/1949,0,TS,20.4,108.6,45

In [61]:
data.to_csv(path_or_buf="../data/pacific_cleaned.csv")

In [26]:
# ----------------------------------------------------------------------
# Clean CSV for different CO2 Emissions
# ----------------------------------------------------------------------
data = pd.read_csv("../data/CO2 emissions from gaseous fuel consumption kt.csv")
data.dropna(axis=0, thresh=50, inplace=True)
data = data.reset_index()
data.drop(columns=['index', 'Country Code', 
                   'Indicator Name', 'Indicator Code', 
                   '2015', '2016', '2017'], 
          inplace=True)
data

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.603570e+02,3.483650e+02,...,2.970270e+02,2.713580e+02,2.713580e+02,3.080280e+02,3.080280e+02,2.970270e+02,2.713580e+02,NaN,NaN,NaN
1,Angola,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.272449e+03,1.290784e+03,1.371458e+03,1.408128e+03,1.422796e+03,7.664030e+02,5.793860e+02,NaN,NaN,NaN
2,Albania,84.34100,84.341000,84.341000,8.434100e+01,8.434100e+01,8.434100e+01,1.026760e+02,1.283450e+02,1.466800e+02,...,1.466800e+01,1.833500e+01,2.566900e+01,2.933600e+01,2.933600e+01,3.300300e+01,5.867200e+01,NaN,NaN,NaN
3,United Arab Emirates,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.727460e+02,1.151438e+03,...,1.078905e+05,1.135633e+05,1.169626e+05,1.302775e+05,1.327124e+05,1.365077e+05,1.278023e+05,NaN,NaN,NaN
4,Argentina,2365.21500,4033.700000,5111.798000,5.834197e+03,6.472255e+03,7.253326e+03,7.854714e+03,8.214080e+03,9.149165e+03,...,9.019353e+04,8.806667e+04,8.699957e+04,9.266142e+04,9.545934e+04,9.083526e+04,9.669146e+04,NaN,NaN,NaN
5,Antigua and Barbuda,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
6,Australia,0.00000,0.000000,3.667000,7.334000e+00,7.334000e+00,7.334000e+00,7.334000e+00,7.334000e+00,1.100100e+01,...,6.548895e+04,6.717211e+04,6.513692e+04,6.852523e+04,6.543028e+04,6.931363e+04,7.260660e+04,NaN,NaN,NaN
7,Austria,2922.59900,3091.281000,3241.628000,3.380974e+03,3.523987e+03,3.424978e+03,3.674334e+03,3.520320e+03,3.747674e+03,...,1.748426e+04,1.687920e+04,1.860269e+04,1.755760e+04,1.678019e+04,1.617147e+04,1.475967e+04,NaN,NaN,NaN
8,Burundi,NaN,NaN,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
9,Belgium,62.33900,69.673000,77.007000,6.967300e+01,7.334000e+01,9.534200e+01,2.016850e+02,9.277510e+02,2.394551e+03,...,3.398576e+04,3.460915e+04,3.891787e+04,3.295900e+04,3.290399e+04,3.297000e+04,2.885562e+04,NaN,NaN,NaN
10,Benin,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
11,Burkina Faso,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
12,Bulgaria,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,1.246780e+02,1.870170e+02,5.683850e+02,8.764130e+02,...,6.673940e+03,4.950450e+03,5.269479e+03,6.024881e+03,5.614177e+03,5.493166e+03,5.412492e+03,NaN,NaN,NaN
13,Bahrain,0.00000,0.000000,0.000000,9.534200e+01,9.534200e+01,9.534200e+01,1.136770e+02,1.136770e+02,5.170470e+02,...,2.298842e+04,2.419487e+04,2.455423e+04,2.430488e+04,2.441489e+04,2.620072e+04,2.837525e+04,NaN,NaN,NaN
14,"Bahamas, The",0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
15,Belize,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.100100e+01,1.100100e+01,7.334000e+00,7.334000e+00,3.667000e+00,NaN,NaN,NaN
16,Bermuda,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
17,Bolivia,11.00100,84.341000,80.674000,8.434100e+01,9.167500e+01,1.063430e+02,1.320120e+02,1.393460e+02,1.283450e+02,...,4.770767e+03,5.276813e+03,5.848865e+03,6.178895e+03,7.036973e+03,7.091978e+03,7.854714e+03,NaN,NaN,NaN
18,Brazil,113.67700,113.677000,110.010000,1.650150e+02,1.613480e+02,1.943510e+02,2.456890e+02,2.566900e+02,2.310210e+02,...,4.856942e+04,3.915623e+04,5.270212e+04,5.052393e+04,5.987478e+04,7.113613e+04,7.809610e+04,NaN,NaN,NaN
19,Barbados,3.66700,7.334000,7.334000,7.334000e+00,7.334000e+00,7.334000e+00,7.334000e+00,7.334000e+00,7.334000e+00,...,3.300300e+01,3.300300e+01,2.933600e+01,3.300300e+01,3.667000e+01,4.400400e+01,2.566900e+01,NaN,NaN,NaN
20,Brunei Darussalam,304.36100,275.025000,293.360000,3.006940e+02,2.676910e+02,3.263630e+02,2.896930e+02,2.933600e+02,2.860260e+02,...,6.497924e+03,5.603176e+03,6.131224e+03,7.293663e+03,7.121314e+03,5.628845e+03,6.776616e+03,NaN,NaN,NaN
21,Central African Republic,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
22,Canada,21554.62600,22984.756000,25999.030000,2.238337e+04,3.418744e+04,3.806713e+04,4.245653e+04,4.510043e+04,5.556972e+04,...,1.806181e+05,1.791330e+05,1.801010e+05,1.911790e+05,1.906620e+05,1.974349e+05,2.032838e+05,NaN,NaN,NaN
23,Switzerland,-3.66700,-3.667000,-3.667000,-3.667000e+00,-3.667000e+00,0.000000e+00,-3.667000e+00,3.667000e+00,2.200200e+01,...,6.428251e+03,6.171561e+03,6.893960e+03,6.112889e+03,6.703276e+03,7.058975e+03,6.116556e+03,NaN,NaN,NaN
24,Chile,91.67500,102.676000,102.676000,1.026760e+02,1.026760e+02,1.136770e+02,1.136770e+02,1.246780e+02,1.283450e+02,...,4.829439e+03,6.384247e+03,1.023460e+04,1.045828e+04,9.816559e+03,9.299512e+03,8.151741e+03,NaN,NaN,NaN
25,China,1994.84800,2819.923000,2324.878000,1.958178e+03,2.031518e+03,2.112192e+03,2.570567e+03,2.801588e+03,2.687911e+03,...,1.497970e+05,1.645383e+05,1.997488e+05,2.461914e+05,2.778266e+05,3.203895e+05,3.538802e+05,NaN,NaN,NaN
26,Cote d'Ivoire,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.039943e+03,2.786920e+03,3.039943e+03,2.995939e+03,3.267297e+03,3.751341e+03,3.784344e+03,NaN,NaN,NaN
27,Cameroon,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,7.113980e+02,5.903870e+02,5.940540e+02,4.253720e+02,5.097130e+02,8.764130e+02,1.272449e+03,NaN,NaN,NaN
28,"Congo, Dem. Rep.",0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.400400e+01,4.400400e+01,4.400400e+01,4.400400e+01,0.000000e+00,0.000000e+00,3.667000e+00,NaN,NaN,NaN
29,"Congo, Rep.",0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.767100e+01,1.063430e+02,1.943510e+02,2.823590e+02,4.070370e+02,4.217050e+02,4.510410e+02,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Suriname,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,7.334000e+00,7.334000e+00,7.334000e+00,7.334000e+00,7.334000e+00,7.334000e+00,7.334000e+00,NaN,NaN,NaN
150,Sweden,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.892172e+03,2.493560e+03,3.358972e+03,2.654908e+03,2.306543e+03,2.189199e+03,1.818832e+03,NaN,NaN,NaN
151,Swaziland,0.00000,0.000000,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
152,Seychelles,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
153,Syrian Arab Republic,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.121002e+04,1.377325e+04,1.787296e+04,1.507137e+04,1.197275e+04,9.838561e+03,9.094160e+03,NaN,NaN,NaN
154,Chad,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
155,Togo,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,1.466800e+01,3.300300e+01,4.033700e+01,7.334000e+01,NaN,NaN,NaN
156,Thailand,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,6.034049e+04,7.171552e+04,8.104803e+04,7.717201e+04,8.449135e+04,8.669155e+04,8.666221e+04,NaN,NaN,NaN
157,Latin America & the Caribbean (IDA & IBRD coun...,21693.35461,26055.022020,32183.586330,3.393132e+04,3.882957e+04,4.338671e+04,4.706615e+04,5.215604e+04,5.395360e+04,...,4.049905e+05,4.042452e+05,4.367184e+05,4.455322e+05,4.693131e+05,4.684493e+05,4.801143e+05,NaN,NaN,NaN
158,Middle East & North Africa (IDA & IBRD countries),NaN,3706.472394,4105.341504,4.353694e+03,5.132618e+03,5.280213e+03,5.763586e+03,5.708238e+03,6.044017e+03,...,4.383852e+05,4.584082e+05,4.797968e+05,4.968721e+05,5.021475e+05,5.066881e+05,5.525650e+05,NaN,NaN,NaN
159,Tonga,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
160,South Asia (IDA & IBRD),NaN,1623.323686,2011.885207,2.517015e+03,3.173252e+03,4.058309e+03,4.576391e+03,5.483035e+03,6.443895e+03,...,1.672148e+05,2.009548e+05,2.140915e+05,2.082922e+05,1.969823e+05,2.187173e+05,2.112507e+05,NaN,NaN,NaN
161,Trinidad and Tobago,1466.80000,1595.145000,1628.148000,1.595145e+03,2.086523e+03,2.251538e+03,2.643907e+03,2.918932e+03,3.061945e+03,...,3.873085e+04,3.911956e+04,4.204215e+04,4.148477e+04,4.061203e+04,4.110340e+04,4.129775e+04,NaN,NaN,NaN
162,Tunisia,14.66800,14.668000,14.668000,1.466800e+01,1.833500e+01,1.833500e+01,1.833500e+01,1.833500e+01,2.200200e+01,...,8.771464e+03,9.127163e+03,1.164639e+04,1.127602e+04,1.216711e+04,1.213410e+04,1.206810e+04,NaN,NaN,NaN
163,Turkey,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,6.915229e+04,6.622969e+04,7.190620e+04,8.425666e+04,8.534209e+04,8.601315e+04,9.208204e+04,NaN,NaN,NaN
164,Tanzania,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.052429e+03,1.243113e+03,1.474134e+03,1.628148e+03,1.859169e+03,1.870170e+03,1.741825e+03,NaN,NaN,NaN
165,Uganda,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
166,Uruguay,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.723490e+02,1.210110e+02,1.503470e+02,1.466800e+02,1.063430e+02,9.900900e+01,9.167500e+01,NaN,NaN,NaN
167,United States,630540.65000,636935.898000,676920.866000,7.190437e+05,7.596924e+05,7.832455e+05,8.428966e+05,8.820052e+05,9.371275e+05,...,1.240762e+06,1.227972e+06,1.275075e+06,1.304095e+06,1.365140e+06,1.392210e+06,1.432767e+06,NaN,NaN,NaN
168,St. Vincent and the Grenadines,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
169,"Venezuela, RB",9508.53100,10120.920000,10700.306000,1.156939e+04,1.272816e+04,1.348356e+04,1.433797e+04,1.570576e+04,1.621181e+04,...,5.593642e+04,5.431927e+04,5.923305e+04,5.947507e+04,6.179262e+04,4.855108e+04,4.668458e+04,NaN,NaN,NaN
170,British Virgin Islands,NaN,NaN,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
171,Vietnam,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.391260e+04,1.538673e+04,1.806364e+04,1.629248e+04,1.797197e+04,1.873470e+04,1.961478e+04,NaN,NaN,NaN
172,Vanuatu,NaN,NaN,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
173,World,832409.00000,880080.000000,964421.000000,1.048762e+06,1.158772e+06,1.235779e+06,1.334788e+06,1.437464e+06,1.554808e+06,...,5.977210e+06,5.808528e+06,6.219232e+06,6.439252e+06,6.538261e+06,6.622602e+06,6.684941e+06,NaN,NaN,NaN
174,Samoa,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
175,"Yemen, Rep.",0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,7.370670e+02,1.947177e+03,1.301785e+03,1.518138e+03,2.053520e+03,2.130527e+03,NaN,NaN,NaN
176,South Africa,0.00000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,8.126072e+03,7.044307e+03,8.874140e+03,8.808134e+03,9.244507e+03,9.372852e+03,8.815468e+03,NaN,NaN,NaN
177,Zambia,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN
178,Zimbabwe,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN