In [11]:
import pandas as pd
import datetime as dt

# read in CSV
data = pd.read_csv("../data/pollution_us_2000_2016.csv")

In [12]:
# reduce to columns I care about, reset index, and delete old index
data = data[['Date Local', 'State', 'City', 
             'NO2 Mean', 'NO2 Units', 
             'SO2 Mean', 'SO2 Units', 
             'CO Mean', 'CO Units']]

# drop any empty values
data = data.dropna(axis=0,how='any')

In [13]:
# reformat date as datetime column
data['Date Local'] = pd.to_datetime(data['Date Local'], format="%Y/%m/%d")

In [16]:
data_new = data.groupby(['State', 'City', 'Date Local']).mean().reset_index()
data_new.head()

     State        City Date Local   NO2 Mean  SO2 Mean   CO Mean
0  Alabama  Birmingham 2013-12-01  17.208333  0.285390  0.262879
1  Alabama  Birmingham 2013-12-02  20.687500  0.531666  0.352812
2  Alabama  Birmingham 2013-12-03  14.912500  0.252632  0.237575
3  Alabama  Birmingham 2013-12-04   7.825000  0.123052  0.115152
4  Alabama  Birmingham 2013-12-05   8.004762 -0.014285  0.117575

In [17]:
data_new.to_csv(path_or_buf="../data/pollution_cleaned.csv")

In [19]:
units = {'NO2':data['NO2 Units'][0],
         'SO2':data['SO2 Units'][0],
         'CO':data['CO Units'][0]}
units

{'CO': 'Parts per million',
 'NO2': 'Parts per billion',
 'SO2': 'Parts per billion'}